body {
    background-color: rgb(68, 55, 107)
}

button {
    font-family: 'Chakra Petch', sans-serif;
    text-decoration: none;
    border: none;
    padding: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 50px;
}

.content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.title {
    font-family: 'Arvo', serif;
    font-size: 3rem;
}

.win {
    font-family: 'Arvo', serif;
    font-size: 3rem;
}

.game-board {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.vs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

    font-family: 'Arvo', serif;
}

.square {
    height: 130px;
    width: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border-radius: 15px;

    font-family: 'Monoton', cursive;

    transition: 0.15s
}

.square:hover {
    transition: 0.15s;
    background-color: rgb(77, 77, 77);
}

/* .square-dim {
    transition: 1s;
    width: 130px;
    height: 130px;
} */

.disable {
    pointer-events: none;
}

.add-player-container {
    display: flex;
    gap: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.second-btn-set {
    display: flex;
    gap: 3px;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    background-color: black;
    color: white;
    font-size: 5rem;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    font-family: 'Monoton', cursive;
}

.close {
    transition: 1s;
    height: 0px;
    background-color: rgb(68, 55, 107)
}

.player-one {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: rgb(118, 118, 118);
    color: white;

    height: 75px;
    font-size: 1.2rem;

    transition: 0.3s;
}

.player-two {
    flex: 1 1 auto;
    border-bottom-left-radius: 10px;
    height: 75px;
    width: 150px;

    background-color: rgb(118, 118, 118);
    color: white;

    font-size: 1.2rem;
    transition: 0.3s;
}

.start,
.reset {
    border-radius: 15px;
    background-color: rgb(176, 176, 176);
    color: white;

    transition: 0.3s;
}

.ai-button {
    width: 300px;
}

.ai {
    flex: 1 1 0;
    border-bottom-right-radius: 10px;
    width: 150px;
    height: 75px;

    font-size: 1.2rem;

    background-color: rgb(118, 118, 118);
    color: white;
}

.player-one:hover,
.player-two:hover,
.ai:hover,
.start:hover,
.reset:hover {
    transition: 0.3s;
    background-color: white;
    color: black;
}

.border-rad {
    border-radius: 15px;
}

.border-rad-right {
    border-bottom-right-radius: 15px;
}

.border-rad-left {
    border-bottom-left-radius: 15px;
}

.form {
    background-color: rgb(118, 118, 118);
    display: flex;
    justify-content: space-around;
    padding: 15px;
    height: 45px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-entry {
    border: none;
    width: 175px;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 1.3rem;
}

.submit {
    width: 60px;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1.1rem;
}

.invisible {
    display: none;
}