button {
    text-decoration: none;
    border: none;
    padding: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 50px;
}

.game-board {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.disable {
    pointer-events: none;
}

.add-player-container {
    display: flex;
    gap: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.invisible {
    display: none;
}
